<!DOCTYPE html>

<html>
<head>
	<mata charset="UTF-8">
		<meta name="viewport" content="width=device-width",intial-scale="1">
	<title>studymate</title>
	<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../resources/css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
 
  <script>
    $(document).ready(function(){
      $('.slider').bxSlider();
    });
  </script>
	

	
</head>
<body>
	<div class="header">

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="img/logo.png" width="50px"><span class=brand-logo>StudyMate</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">스터디찾기 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">스터디만들기</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">리뷰</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">마이페이지</a>
      </li>
     
  </div>
   <div class="enter">
      <a class="login" href="#">로그인</a> <a class="register"href="#">회원가입</a>
   </div>
</nav>
   </div>
    
     <div class="slider">
       <div>
    	<div class="jumbotron">
          <h1 class="text-center">Study Mate</h1>
          <p class="text-center">welcome StudyMate</p>
          <p class="text-center">언제어디서나 가까운 친구를 찾을수 있습니다.</p>
           <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">스터디찾으러 가기 </a></p>
         </div>
       </div>
    <div>
    	<div class="jumbotron">
          <h1 class="text-center">S</h1>
          <p class="text-center">welcome StudyMate</p>
          <p class="text-center">언제어디서나 가까운 친구를 찾을수 있습니다.</p>
           <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">스터디찾으러 가기 </a></p>
         </div>
       </div>
  </div>







   <div class="content">
     
      <div class="serchcrew">
           <div class="serchcrewboard">
                
                <div class="serchcrewboard-text">현재 모집중인 스터디!</div>
                <div class="board-box">
                  <div><button class="btn-serchcrewboard"><a>전체보기</a></button></div>
                </div>
           </div>
           <div class="crewslotbox">
           	<div class="c">
           <div class="crewslot" ><div class="photo"></div> <div class="studyimpo"><input type="text" name="subject" readonly><input type="text" name="region" readonly><input type="text" name="quota" readonly><input type="text" name="cost" readonly></div></div>
           	     
           <div class="crewslot"><div class="photo"></div> <div class="studyimpo"><input type="text" name="subject" readonly><input type="text" name="region" readonly><input type="text" name="quota" readonly><input type="text" name="cost" readonly></div></div>
           	
          <div class="crewslot"><div class="photo"></div> <div class="studyimpo"><input type="text" name="subject" readonly><input type="text" name="region" readonly><input type="text" name="quota" readonly><input type="text" name="cost" readonly></div></div>
          </div>
          <div>
 
          
      </div>
      <div class="review">
            <div class="review-text">
            <p>망설이고 계신가요?  여러가지 후기를 읽어보세요!</p>
            <hr>
            </div> 
           <div class=reviewbutton>
            <button class="btn-serchcrewboard">후기보기</button>
           </div> 
             <div class="table">
           <table>
           	  <tr>
           	  	<td>문승민</td><td>일본어</td><td >좋아요좋아</td><td>초급</td><td>광주</td>

           	  </tr>
           	  <tr>
           	  	<td>제임스</td><td>프로그래밍</td><td>최악입니다</td><td>고급</td><td>뉴욕</td>

           	  </tr>
           	  	   

           </table>
            </div>

      </div>

      <div class="leader">
      	<div class="leader-text">
      	<p>리더가 되어보시겠어요?</p>
      </div>
        <div class="leader-box">
        	 <div class="leader-content">
        	     <div class="leader-content-picture"></div>
                <div class="leader-content-text"><p>당신의 편한시간에 공부를 같이할 동료를 리더가 되어 지금 당장 찾아보세요</p></div>
            </div>
             <div class="leader-button-box">
              <button class="leader-button">리더지원</button>
            </div>
      </div>
      </div>
   </div>  <!-- container end-->
<footer>
	<div class="footer-content">
	  <div class="footer-logo">
	  	 <a class="navbar-brand" href="#"><img src="img/logo.png" width="50px"><span class=brand-logo>StudyMate</span></a>
	  </div> 
	  <div class="policy">
	  	<h5 class="text-center">정책</h5>
	  	 <div class="policy-content">
	  	 <a>리더 정책</a><br>
	  	 <a>참가자 정책</a>
	  	</div>
	  </div>
	  <div class="customer-center">
	  	  <h5 class="text-center">고객센터</h5>
	  	<div class="customer-center-content">
	  	<a>자주묻는 질문</a><br>
	  	<a>1:1질문</a>
	  </div>
	  </div>
        <hr>
    <p class="name"> <span>kim yeongha's portpolio</span> <br> <span>082)010-8014-1055</span> <br><span>email:kyh920714@gmail.com</span></p>
    </div>

</footer>
</body>
</html>