<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="project.port.mapper.ReviewMapper">  
     
     
     
     
     <select id="getReviewPaging" resultType="project.port.domain.ReviewVO">
    <![CDATA[   
		select *
		from(
		select @rownum:=@rownum+1 as rownum,b.*
		from(select @rownum:=0) as tmp,review b
			
			     ]]>
		    where subject=#{subject}
			order by bno desc
			)boardlist
			 <![CDATA[   
			where rownum >(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}  
                ]]>
	</select>
	
	
	 <select id="getReviewMainpaging" resultType="project.port.domain.ReviewVO">
    <![CDATA[   
		select*
		from(
		select @rownum:=@rownum+1 as rownum,b.*
		from(select @rownum:=0) as tmp,review b
			
			     ]]>
		
			order by bno desc
			)boardlist2
			 <![CDATA[   
			where rownum >(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
                ]]>
	</select>
	
	<select id="getTotalCountMain" resultType="int">
	     select count(*) from review 
	     where bno >0
	  
	</select>
	<select id="getTotalCount" resultType="int">
	     select count(*) from review 
	     where bno >0
	    and subject=#{subject}
	</select>
     
  </mapper>